---
import buildingsback from "../../public/images/buildings-back.png";
import buildingsfront from "../../public/images/buildings-front.png";
import logo from "../../public/images/logo.png";
---
<html>
	<body>
		<div class = "top">
			<img class="imagetop" src={buildingsback.src}>
			<img class="imagetop" src={buildingsfront.src}>
			<img class="logo" src={logo.src}>
			<p>A guide for participants :)</p>
		</div>
		
	</body>
</html>
<style>
	body {
		background-color: #c2e6fa;
	}

	.imagetop {
		width:100%;
		top:0;
		left:0;
		position: absolute;
		margin-left:auto;
		margin-right:auto;
	}

	.logo {
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top: 17%;
		width: 40%;
	}

	p {
		text-align:center;
	}

</style>