---
import buildingsback from "../../public/images/buildings-back.png";
import buildingsfront from "../../public/images/buildings-front.png";
import logo from "../../public/images/logo.png";
---
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class = "top">
			<img class="imagetop" src={buildingsback.src}>
			<img class="imagetop" src={buildingsfront.src}>
			<img class="logo" src={logo.src}>
			<p>✨A guide for participants✨</p>
		</div>
		<div id="gamejam" class="text-section">
			<h1>So... what even is a game jam?</h1>
			<p>I've been asked this question many, many times!
				Which sort of makes sense: people say "Come to the hackathon!"
				or "Hey, why not sign up for this cool game jam thing?" without 
				actually telling you what a game jam is or what you're going to be doing on the day.
				So fair enough if you're confused! Luckily, it's really simple:
			</p>
			<h3 style="text-decoration: underline; padding-left:5vw; padding-right:5vw">
				A game jam is an event where you form teams 
				and make a video game over the course of the day.
			</h3>
			<p>Yep, that's it. Daydream will essentially be a day where you 
				get into a bunch of teams, make friends, make a game you're proud of, share that game to the world, and have 
				a whole lot of fun :). There's a simple schedule on <a href="https://daydream.hackclub.com/cambridge">
				the main event website</a> but if you want one in more detail, here it is (don't forget that 
				there are unlimited snacks througout the whole day!):
			</p>
		</div>
		<div id="schedule", class="text-section">
			<h3>
				8:45-9:10: Registration
			</h3>
			<p>This is the bit where all of you are going to come to 
				the venue (<a href="https://maps.app.goo.gl/BboLuXMJbDvNGGYj7">The Raspberry Pi Foundation
				on Hills Road - NOT the shop!</a>), 
				and one of us on the organising team are going to help you
				get registered. Once we've confirmed you're on the signups list, 
				we'll let you into the main building and you can choose somewhere
				to sit down. WE WILL NOT LET YOU IN IF YOU'RE NOT SIGNED UP 
				OR DON'T HAVE THE WAIVER FILLED IN! Make sure you get this done!</p>
			<h3>
				9:10-10:00: Setup and Opening Ceremony
			</h3>
			<p>
				Once everyone's sat down and settled, we'll give a short opening presentation
				where all of the organisers and our lovely adult volunteers will introduce themselves! We'll give you
				a rundown of what's happening on the day and all of the important stuff you will need
				to know. We'll also reveal the theme for the games, and then you'll get yourself
				into teams of 2-3 people! It's completely fine if you don't know others who are coming,
				hackathons are always great with friends (and it's not too late to get them to sign up!) 
				but lots of people make teams with people they don't know!
			</p>
			<h3>
				10:00-13:00: Start working on your projects!
			</h3>
			<p>
				This is the bit where you will get cracking on your project! We'll also run a workshop in this bit, 
				where I'll be showing those who are less confident with game dev how to make a platformer game
				in <a href="https://godotengine.org/">Godot</a>, which they can then expand to make their own games!
				Everyone who joins in with the workshop will also get some cool free stuff!
			</p>
			<h3>
				13:00-14:00: Lunch
			</h3>
			<p>
				Yum. We'll also be running a little video call with some other daydream events, so 
				make sure not to miss that!
			</p>
			<h3>
				15:00-15:30: Talk by Learn Anything founder
			</h3>
			<p>We'll be getting a super inspiring talk by the founder of 
				<a href="https://www.learnanything.com/">Learn Anything</a>: it's 
				a great opportunity to learn from a really awesome person who
				does the kinds of things you guys might want to do in the future!
			</p>
			<h3>
				15:30-18:00: More projects stuff :)
			</h3>
			<p> More time to work on your project and make it really super awesome!</p>
			<h3>
				18:00-19:00: Dinner
			</h3>
			<p>Double yum. Our dinner will be courtesy of 
				<a href="https://www.aromi.co.uk/">Aromi's</a> generosity,
			so it's sure to be absolutely 🔥</p>
			<h3>
				19:00-20:30: Ship your project and vote!
			</h3>
			<p>EVERYONE. MUST. SHIP. This is the bit where we share your project
				to the world (and to hack club) by submitting it to <a href="https://itch.io">itch</a>. 
				If you don't submit your project, you won't get a super cool daydream shirt (no exceptions, we're
				sorry but we have to do this!). So we are ALL GOING TO SHIP. 
				We'll be using <a href="https://podium.hackclub.com">podium</a> to vote, you all will get
				to vote on a winning team, who will get an awesome prize!
			</p>
			<h3>20:30-20:45: Winners and closing ceremony</h3>
			<p>We'll do a short wrap-up presentation and then we'll let you all go home!</p>
		</div>
		<div id="todo" class="text-section">
			<h1>What do I need to do before the event?</h1>
			<p>I mean, there's not anything you absolutely NEED to do before daydream, apart from 
				making absolute sure your parent has signed the waiver, but there are a lot of things you
				should do, to make your life easier on the day.
				 </p>
			<h3>Sign the waiver</h3>
			<p>You should have gotten/will get an email from 
				hack club with a check in form, that has a waiver on it.
				Doing the waiver is a non-negotiable. If you don't get your parent to 
				sign the waiver, you won't be able to attend.
			</p>
			<h3>Get a GitHub account</h3>
			<p>In order to ship your project, you'll need to 
				make a <a href="https://github.com">Github</a> repository.
				If you don't know what that is or you don't have Github, it would
				be great if you could make an account and learn the basics before 
				daydream :). You'll be saving yourself time and us organisers some work
				helping you get set up!
			</p>
			<h3>Get familliar with some sort of Game Dev</h3>
			<p>!!!THIS BIT IS ABSOLUTELY NOT MANDATORY!!!
				If you don't do this, if you walk in without any
				gamedev experience whatsoever, that is completely fine. 
				BUT if you really care about making the most awesome game possible,
				then of course you're free to go ahead and teach yourself some game dev
				ahead of the day: that way you don't have to spend time 
				in a workshop or fiddling around trying to work out how to make a good game: 
				you and your team can launch right in! 
				I'll be running a <a href="https://jumpstart.hackclub.com/"> Jumpstart </a> workshop
				where I'll teach you how to make a game in <a href="https://godotengine.org/">Godot</a>, so if you're 
				a beginner no worries! It might be helpful to install godot ahead of time though :)
			</p>
			<h3>Join the Slack!</h3>
			<p>Another thing that really isn't compulsory, 
				but if you want to join the Hack Club
				<a href="https://hackclub.slack.com/">Slack</a> then go ahead! 
				It's a really great community with lots of amazing people and lots
				of cool programmes and events where you can get free stuff and do really 
				cool stuff ;)
				Once you're on there, just DM me (my name on Slack is TensorCalulus)
				and I'll help you get all set up!
			</p>
			<h3>Ask any questions!</h3>
			<p>If you're unsure about anything, or
				your parents are unsure about anything, 
				<a href="cambridge@daydream.hackclub.com">email me</a>!
				Don't just sit there like a melon expecting the 
				answer to come to you! I love answering participant questions!
				I'll be sure to answer any request, no matter how small :).
				If your parents are concerned about anything whatsoever, send
				them my way, and I'll answer their questions!
				Also, if you have any allergies or medical needs that you for 
				some reason didn't highlight in the signup form, let me know about them ASAP
				so I can make sure we can cater for those needs!
			</p>
		</div>
	</body>
</html>
<style>
	body {
		background-color: #c2e6fa;
	}

	h1{
		font-size:3em;
	}

	.imagetop {
		width:100%;
		top:0;
		left:0;
		position: absolute;
		margin-left:auto;
		margin-right:auto;
	}

	.logo {
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top: 17%;
		width: 40%;
	}

	p {
		text-align:center;
		font-family: "Atkinson Hyperlegible", sans-serif;
		font-size: large;
		color:#466176;
	}

	.text-section {
		color:#466176;
		text-align:center;
		font-family: "Atkinson Hyperlegible", sans-serif;
		padding-left: 15vw;
		padding-right: 15vw;
		margin-top:3em;
		
	}

	a{
		color:#e461a9;
	}



</style>